<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/demo-styling.css">
  {{ $title := print .Site.Title " | " .Title }}
  {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
  <title>{{ $title }}</title>

  
<script>  
document.addEventListener('DOMContentLoaded', function(){
  let elem = [];
  
  if (/webOS|iPhone|iPad|iPod/i.test(navigator.userAgent)) {
    elem = document.getElementsByClassName('store-google');
  }
  
  if (/Android/i.test(navigator.userAgent)){
    elem = document.getElementsByClassName('store-apple');
  } 
  
  for(let item of elem){
    item.classList.add('d-none');
    const anchor = item.getElementsByClassName('btn-store');
  }
  
});
</script>
  
</head>
